@import url(luciole/luciole.css);
@import url(staatliches/staatliches.css);
@import url(playwrite-is/playwrite-is.css);

:root {
    --md-hue: 316.67deg;
    --md-text-font: Luciole;
}

.md-header {
    background-image: url(/assets/gradient.svg);
    background-size: 100% 200%;
}
    .md-header__title {
        line-height: 2.6rem;
    }
    .md-header__topic:first-child {
        font-weight: 400;
    }

.md-nav {
    font-size: .9rem;
}
    .md-nav__title, .md-typeset .admonition-title {
        font-family: Playwrite IS, Luciole, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        border-bottom: 6px double;
        padding: .5rem;
    }

.md-typeset {
    font-size: 1rem;
}
    .md-typeset h1 {
        font-family: Staatliches, Luciole, sans-serif;
    }
    .md-typeset .admonition {
        font-size: .9rem;
    }
        .md-typeset .admonition-title::before {
            top: .75rem;
        }

    .md-typeset .md-button--primary {
        position: relative;
    }
        .md-typeset .md-button--primary:hover {
            background-color: transparent;
        }
        .md-typeset .md-button--primary::before {
            background-image: url(/assets/gradient.svg);
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: ' ';
            background-size: cover;
            z-index: -1;
            opacity: 0;
            transition: opacity 125ms;
        }
            .md-button--primary:hover::before {
                opacity: 1;
            }

.md-social__link {
    width: 3rem;
}
    .md-social__link svg {
        max-height: 1.5rem;
    }