/* staatliches-regular */
@font-face {
	font-family: Staatliches;
	font-style: normal;
	font-weight: 400;
	src: url(/assets/staatliches/staatliches-regular.woff2) format("woff2");
	font-display: swap;
}
